*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* general styles  */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

img {
  width: 100%;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: rgba(38, 38, 38, 0.755);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Sansita", sans-serif;
  font-weight: 800;
}

.container {
  width: 100%;
  padding: 0% 10%;
  margin: auto;
}

/* bar styles */
.bar {
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: #264ce4c6;
  margin: 0 3% 1% 0;
}

/*Header section  */

.hero {
  width: 100%;
  height: 43rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10%;
  background: rgb(245, 245, 245);
}

.hero_content {
  flex-basis: 45%;
  margin-top: 3%;
  color: #2d3748;
}
.hero_content h1 {
  font-weight: 800;
  font-size: 2.6rem;
  margin-bottom: 3.5rem;
}

.hero_content h2 {
  font-size: 33px;
  color: #284bd8b8;
}

.hero_content h3 {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.hero_image {
  width: 45%;
  height: 100%;
}

.hero_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

/* SECTION STYLES  */

#one {
  margin: 7% 0;
}
#two {
  margin-bottom: 10%;
}

/* About section */

.about h3 {
  font-size: 2rem;
  color: #2d3748;
  margin-bottom: 4%;
}

/* Skills */

.skills h3 {
  font-size: 2rem;
  color: #2d3748;
  margin: 6% 0;
}

.skills__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 11rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 6px;
}

.skills__content div {
  flex-basis: 25%;
}

.skills p {
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
}

/* icons color  */
.bg_orange {
  color: #e34c26;
}

.bg_blue {
  color: #264de4;
}

.bg_yellow {
  color: #f0db4f;
}
.logo ion-icon {
  font-size: 48px;
  padding: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 6px;
}

.logo {
  margin: auto;
  text-align: center;
  /* border-right:2px solid #ccc; */
}

.logo img {
  width: 5rem;
  padding: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 6px;
}

/* Contact me  */
.contact {
  background: rgb(245, 245, 245);
  height: auto;
  color: white;
  padding: 7% 0;
}

.contact__text {
  margin-bottom: 6%;
}

.contact__text p {
  margin-bottom: 2%;
}
.contact span {
  color:#264ce4c6;
  font-weight: 600;
}
.contact h3 {
  font-size: 2rem;
  color: #2d3748;
  margin-bottom: 4%;
}

.contact__container {
  display: flex;
  flex-wrap: wrap;
  height: 13rem;
}

.contact__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 33.3%;
  background: #2d3748af;
  border-radius: 6px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.contact__content p {
  color: white;
}

.contact__content h4 {
  margin-bottom: 25px;
}

.contact__content ion-icon {
  font-size: 38px;
  padding: 0.5rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  border-radius: 6px;
  margin-bottom: -11px;
  margin-right: 17px;
}

/* footer  */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  width: 100%;
  padding: 2% 10%;
}

.footer_logo {
  width: 5rem;
  height: 4rem;
}

.two {
  width: 3rem;
  height: 4rem;
}

.footer_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* media queries */
@media (max-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .hero_content {
    flex-basis: 52%;
    margin-top: 3%;
    color: #2d3748;
  }
}

@media screen and (max-width: 992px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .hero {
    padding: 8%;
  }
  .hero_content h1 {
    font-size: 2.4rem;
  }
  .hero h3 {
    font-size: 1.1rem;
  }

  .hero_content {
    flex-basis: 50%;
    /* margin-top: 6%; */
  }

  .hero_image img {
    width: 100%;
    height: 94%;
  }

  .container {
    padding: 0 9%;
  }

  /* skills */
  .logo ion-icon {
    font-size: 37px;
  }
  .logo img {
    width: 4.2rem;
    padding: 0.7rem;
  }

  .skills p {
    font-size: 1rem;
  }
  /* contact */
  .contact__content p {
    font-size: 0.9rem;
    font-weight: 400;
    margin-bottom: 10px;
  }
  .contact__text p {
    font-size: 1rem;
  }
  .contact__content ion-icon {
    font-size: 33px;
  }
  .bar {
    width: 30px;
    margin: 0 1% 1% 0;
  }
  footer {
    padding: 7% 10%;
  }
}

@media (max-width: 768px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

  .container {
    padding: 0% 9%;
  }
  /* hero */

  .hero {
    width: 100%;
    height: 35rem;
    display: flex;
  }

  .hero h2 {
    font-size: 25px;
  }

  .hero_content {
    margin-bottom: 17%;
  }
  .hero_content h1 {
    font-size: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }

  .hero_image {
    width: 45%;
    height: 100%;
    margin-top: 5%;
  }
  .hero_image img {
    height: 80%;
  }

  .bar {
    width: 0;
  }

  .contact__container {
    display: flex;
    height: 13rem;
  }
  /* contact */
  .contact {
    height: 54rem;
    padding: 9% 0;
  }
  .contact__content p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .contact__content {
    height: 89%;
    width: 70%;
    margin: auto;
  }

  .contact__text p {
    font-size: 1rem;
    font-weight: 500;
  }
  .contact__content ion-icon {
    font-size: 39px;
  }

  footer {
    height: 6rem;
    width: 100%;
    padding: 5% 9%;
    text-align: center;
  }
}

@media (max-width: 601px) {
  /* smartphones, Android phones, landscape iPhone */

  /* SECTION STYLES  */
  #one {
    margin: 10% 0;
  }
  #two {
    margin-bottom: 20%;
  }
  .container {
    padding: 0% 11%;
  }

  .hero_content {
    flex-basis: 90%;
    margin: auto;
    color: #2d3748;
  }
  .hero_content h1 {
    font-size: 2rem;
    margin-top: 2%;
  }
  .hero_image {
    flex-basis: 90%;
    height: 60%;
    margin: auto;
    margin-top: 10%;
    color: #2d3748;
    z-index: 10;
  }

  .bar {
    width: 50px;
  }

  /* About  */

  /* skills */

  .skills__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 18rem;
    box-shadow: rgb(14 30 37 / 12%) 0px 2px 4px 0px,
      rgb(14 30 37 / 32%) 0px 2px 16px 0px;
    border-radius: 6px;
  }

  .skills__content div {
    flex-basis: 50%;
    margin: auto;
  }

  /* contact  */
  .contact__content {
    height: 89%;
    width: 99%;
    margin: auto;
  }

  .contact h3,
  .skills h3,
  .about h3 {
    font-size: 1.7rem;
    color: #2d3748;
    margin: 6% 0;
  }
  .contact__text p {
    font-size: 1rem;
  }

  footer p {
    font-size: 14px;
    font-size: 400;
  }
  footer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 370px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  p,
  .skills p,
  .contact__content p {
    font-size: 14px;
  }
  #one {
    margin: 15% 0;
  }
  #two {
    margin-bottom: 18%;
  }

  .hero {
    width: 100%;
    height: 38rem;
  }

  .hero h3 {
    font-size: 1rem;
  }
  .hero h2 {
    font-size: 22px;
  }
  .bar {
    width: 37px;
  }
  .hero h2 {
    font-size: 23px;
  }
  .hero_content h1 {
    font-size: 2rem;
    margin-top: 11%;
  }
  .hero_image {
    flex-basis: 90%;
    height: 50%;
  }
  /* h3 styles */
  .contact h3,
  .skills h3,
  .about h3 {
    font-size: 1.5rem;
    color: #2d3748;
    margin: 6% 0;
  }

  /* contact */
  .contact__content {
    height: 89%;
    width: 99%;
    margin: auto;
  }
  .contact {
    height: 50rem;
    padding: 9% 0;
  }

  .footer_logo {
    width: 32%;
    height: 4rem;
  }

  footer p {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: center;
  }
}
